.container {
	width: 100vw;
	height: 500px;
	position: relative;
}

.slideShow {
	position: relative;
	height: 500px;
	width: 100vw;
	overflow: hidden;
	/* transition: all 1s; */
}

.slides {
	display: flex;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.3);
	flex-shrink: 0;
}

.slides div:nth-child(1) {
	background-color: orange;
}
.slides div:nth-child(2) {
	background-color: green;
}
.slides div:nth-child(3) {
	background-color: orange;
}

.left {
	transform: translateX(-100%);
}
