.text-in {
	display: inline-block !important;
	animation: textIn 0.5s ease;
}
.text-out {
	animation: textOut 0.5s ease;
}

@keyframes textIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes textOut {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}
