body {
	font-family: 'Source Sans Pro' !important;
	background-color: #fffdf7 !important;
	color: #696969 !important;
	overflow-y: visible !important;
}

.show-scroll-when-scrolling {
	overflow-y: hidden;
}

.show-scroll-when-scrolling:hover {
	overflow-y: scroll;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.hide-scroll-bar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.new-font {
	font-family: 'Source Sans Pro' !important;
}

#easy-pricing-icon svg {
	fill: rgba(14, 135, 246, 1) !important;
}

#google_login_button {
	/*  */
	display: none;
}

#facts_video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.css-10dilsq{
	background-color: #F0A251 !important;
}
.css-18h6d9z{
	background-color: #F0A251 !important;
}
.css-1fnjfyh{
	color:#fffdf7 !important;
}
.css-1tkxdc0{
	color:#fffdf7 !important;
}
.css-1ycw8b4{
	color: #fffdf7 !important;
}
.css-tb3rq6{
	color: #fffdf7 !important;
}
.css-9fcjmx{
	background-color: #fffdf7 !important;
}
.css-87a7h8{
	background-color: #F0A251 !important;
}
.css-1unw0mt{
	background-color: #F0A251 !important;
}
.css-z175e4{
	background-color: #F0A251 !important;
}
.css-1ppgqxd{
	background-color: #F0A251 !important;
}
.css-m83j45{
	background-color: #F0A251 !important;
}
.css-1azie1c{
	background-color: #F0A251 !important;
}
