/* .show-scroll-when-scrolling::-webkit-scrollbar {
	overflow-y: hidden;
} */
body {
	font-family: 'Source Sans Pro' !important;
	background-color: rgb(38, 39, 40) !important;
	color: #f5f5f5 !important;
	overflow-y: visible !important;
}

.show-scroll-when-scrolling {
	overflow-y: hidden;
}

.show-scroll-when-scrolling:hover {
	overflow-y: scroll;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.hide-scroll-bar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.new-font {
	font-family: 'Source Sans Pro' !important;
}
