#scrollbar::-webkit-scrollbar {
	display: none;
}
#scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}


.pagination{
	margin: 2rem 0 ;
}

.pagination span{
	border: 1px solid black;
	height: 30px;
	width: 30px;
	display: inline-flex;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
	margin: 0 -1px;
}